@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

:root {
  --main-color: #e53935;
  --main-color-light: #ff6f60;
  --main-color-dark: #ab000d;
  --white: #ffffff;
  --title-font: 'DM Serif Display', serif;
}

h1,
h2,
h3,
h4,
h5,
.date {
  font-family: var(--title-font);
}

.material-design-icon.icon-2x {
  height: 2em;
  width: 2em;
}

.material-design-icon.icon-2x > .material-design-icon__svg {
  height: 2em;
  width: 2em;
}
